{% extends 'task/partials/base.html' %}
{% block title %} Home Page{% endblock %}


{% block content %}


{% include 'task/partials/topbar.html' %}

<div class="container">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-info text-white">
					About Information 
				</div>
				<div class="card-body">
					<h5>Pinky Mononyane</h5>
					<h5>Python Developer</h5>
					<h5>Task Project</h5>
					<div class="col-md-12">
						<div class="card">
							  <a class="btn btn-success btn-sm float-left text-white" href="{% url 'dashboard-current' %}"><b>Create New Task and view more actions</b></a>
						</div>
					</div>
					<hr>
					<div>
						<div class="col-md-12">
							<a class="text-decoration-none text-dark">
								<div class="my-card shadow p-3">
									<p>This is an exciting project that runs on Python using Django Framework. The framework enables rapid development of secure, robust and maintainability for our Task project.
									The development consist of components that makes up both the front and backend. </p>
									<h4>Check out the about page for more details on the project</h4>
								</div>
							</a>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
