{% extends 'task/partials/base.html' %}

{% block title %} Password Reset Done {% endblock %}

{% load crispy_forms_tags %}


 {% block content %}
 <div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <div class="alert alert-info">
                We Have Sent You A Reset Password Link. Please Check Your Email
            </div>
        </div>
    </div>
</div>

{% endblock %}


<h3>Password Reset Completed</h3>

<p>You Password Has Been Set. You Can Proceed To Login</p>

<a href="/">Login</a>
