{% extends 'task/partials/base.html' %}

{% block title %} Password Reset Form{% endblock %}

{% load crispy_forms_tags %}


 {% block content %}
 <div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
 
            <h3>Reset Password</h3>
            <p>Input Your Email Address To Get A Link To Change Your Password</p>

             <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <input class="btn btn-success" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}


<h3>Password Reset Completed</h3>

<p>You Password Has Been Set. You Can Proceed To Login</p>

<a href="/">Login</a>
